body {
  font-family: Arial, sans-serif;
  text-align: center;
    background: radial-gradient(circle, #8c1f06, #000000);
    background-attachment: fixed;
}

.card{
  background: rgba(0,0,0, 0.3) !important
}

.Principal-Title {
  display: flex;
  justify-content: center;
}

.TitleFirst {
  color: #ffffff;
}

.TitleMenuColor{
  color: #ff9900;
}

.TitleSecond {
  color: #f00000;
  margin-left: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.price{
  color:#ffffff;
  margin: 0;
}

.textFooter{
  color:#d1d1d1;
}

.descrition{
  color: #d1d1d1;
  margin: 0;
}

.product {
  color: #d1d1d1;
  margin: 0;
}

.product {
  color: #ff9900;
  flex-grow: 1;
  font-size: 0.9rem;
}

.ProductDescr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: 0.9rem;
}

.price {
  margin-top: 0;
  margin-bottom: 0;
}
